<center>
  <div id="login" class="container">
    <div id="prompt" class="report"></div>
    <center>
      <form>
        Username: <input id="username" type="text" name="username"><br>
        Password: <input id="password" type="password" name="password"><br>
        <input id="login_submit" type="submit" value="Login">
        <input id="signin_submit" type="submit" value="Add User">
      </form>
    </center>
  </div>

  <div id="logout" class="container">
    <div id="count" class="report"></div>
    <center>
      <form>
        <input id="logout_submit" type="submit" value="Logout">
      </form>
    </center>
  </div>
</center>

<script type="text/javascript">
$('#login').hide();
$('#logout').hide();

/* setup the page so that only one of the forms is shown */
$(document).ready(function() {
  showLogin("Please enter your credentials below");
});

/* Note: These two functions are deliberately written to ignore the starting
   state.  This makes them slightly slower, but has the side effect of 
   restoring any invariant that gets accidentally broken.*/
function showLogin(result) {
  $('#logout').hide();
  $('#username').val("");
  $('#password').val("");
  $('#prompt').html(result);
  $('#login').show();
}

function showLogout(user, count) {
  $('#login').hide();
  $('#count').html("Welcome "+user+"<br>You have logged in "+count+" times.");
  $('#logout').show();
}

function handleLogin(username, result) {
  if (result.errCode > 0) {
    showLogout(username, result.count);
  } else {
    showLogin(toMessage(result.errCode));
  }
}

function handleSignin(username, result) {
  if (result.errCode > 0) {
    showLogout(username, result.count);
  } else {
    showLogin(toMessage(result.errCode));  
  }
}

$('#login_submit').click(function() {
  username = $('#username').val()
  password = $('#password').val()
  send_json("/users/login",
    {user: username, password: password},
    function(result) {
      return handleLogin(username, result);
    },
    function(error) {
      alert('error occurred on request');
    }
  );
  return false;
});

$('#signin_submit').click(function() {
  username = $('#username').val()
  password = $('#password').val()
  send_json("/users/add",
    {user: username, password: password},
    function(result) {
      return handleSignin(username, result);
    },
    function(error) {
      alert('error occurred on request');
    }
  );
  return false;
});

$('#logout_submit').click(function() {
  showLogin("Please enter your credentials below");
  return false;
});
</script>

