.container {
    width: 500px;
    height: 350px;
    border: 10px solid black;
    background-color: #FFFFCC;
}

.report {
    margin: 5px 10px 20px 10px;
    border: 5px black solid;
}

body {
	font-family: courier, serif;
	font-size: 14pt;
	font-weight:bold;
}

